.cards {
  margin: 100px auto;
  display: flex;
  // gap: 24px;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  // justify-content: center;

  @media screen and (max-width: $bp-tablet) {
    margin: 32px 0 58px;
  }

  .card {
    // width: 380px;

    position: relative;
    max-width: 563px;
    // max-width: 352px;

    @media screen and (max-width: $bp-tablet) {
      max-width: 352px;
    }

    img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      height: 100%;
    }

    .card_discount {
      background: #ff0f00;
      padding: 10px 24px;
      display: inline-block;
      position: absolute;
      top: 0;
      font-size: 24px;
      line-height: 117%;
      color: $color-text-light;
      @media screen and (max-width: $bp-tablet) {
        font-size: 18px;
      }
    }

    .card_content-wrap {
      background-color: rgba(1, 124, 133, 0.67);
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 48%;
      transition: background-color 0.3s ease;

      .card_content {
        padding: 26px 20px 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        h3 {
          font-size: 24px;
          line-height: 117%;
          color: $color-text-light;
          margin-bottom: 38px;
          grid-column: 1 / 3;

          @media screen and (max-width: $bp-tablet) {
            font-size: 20px;
            margin-bottom: 38px;
            grid-column: 1 / 3;
          }
        }

        .card_content_icons {
          display: flex;
          gap: 24px;
        }
        .card_price {
          font-size: 32px;
          line-height: 87%;
          color: $color-text-light;

          @media screen and (max-width: $bp-tablet) {
            font-size: 25px;
          }
        }
      }
    }
    .card_button {
      opacity: 0;
      transition: opacity 0.3s ease;
      position: absolute;
      bottom: 0;
    }
  }

  .card:hover {
    .card_content-wrap {
      background-color: rgb(1, 124, 133);
    }
    .card_button {
      opacity: 1;
      background-color: $color-brand;
      color: $color-brand-dark;

      @media screen and (max-width: $bp-mobile) {
        display: none;
      }
    }
    path {
      stroke: $color-brand-dark;
    }
  }

  .card-cruises,
  .card-villas {
    position: relative;
    display: flex;
    justify-content: center;
    @media screen and (max-width: $bp-mobile) {
      // width: 358px;
      height: 200px;
      max-width: 385px;
      margin: 0 auto;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }

    .card_content-cruises,
    .card_content-villas {
      position: absolute;
      top: 50%;

      h3 {
        font-size: 32px;
        line-height: 87%;
        color: $color-text-light;
        @media screen and (max-width: $bp-mobile) {
          font-size: 12px;
        }
      }

      button {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
