@import "../../node_modules/swiper/swiper.css";
@import "../../node_modules/swiper/swiper-bundle.css";

.swiper-container {
  overflow: hidden;
  width: 100%;
}

.swiper-container_cards {
  // max-width: 1380px;
  // padding: 0 20px;
  // margin: 0 auto;
  // position: relative;
  display: flex;
}

//   Стрелки
.swiper-button-prev {
  // padding-left: 50px;
  left: var(--swiper-navigation-sides-offset, -30px);
}
.swiper-button-next {
  // padding-right: 50px;
  right: var(--swiper-navigation-sides-offset, -30px);
}
.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 44%);
  @media screen and (max-width: 1320px) {
    display: none;
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: $color-brand;
  font-size: 80px;
  content: url("data:image/svg+xml,%3Csvg width='44' height='99' viewBox='0 0 44 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.75 2.5L5.75 53.4167L39.75 96.5' stroke='%23FFE502' stroke-width='8' /%3E%3C/svg%3E");
}

.swiper-button-next::after {
  transform: rotate(180deg);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  bottom: var(--swiper-pagination-bottom, 145px);
  @media screen and (max-width: $bp-tablet) {
    gap: 0px;
    bottom: var(--swiper-pagination-bottom, 85px);
    bottom: var(--swiper-pagination-bottom, 64px);
  }
}

.cards_cruises {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    @media screen and (max-width: $bp-tablet) {
      bottom: var(--swiper-pagination-bottom, 64px);
    }
  }
}

.swiper-pagination-bullet {
  border-radius: 100%;
  background: white;
  box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 50%);
  width: 24px;
  height: 24px;
  transition: background 0.3s, width 0.3s, height 0.3s, border-radius 0.3s;
  @media screen and (max-width: $bp-tablet) {
    width: 12px;
    height: 12px;
  }
}

.swiper-pagination-bullet-active {
  border-radius: 20px;
  width: 72px;
  height: 24px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background: $color-brand-dark;
  @media screen and (max-width: $bp-tablet) {
    width: 36px;
    height: 12px;
  }
}

// .wrap {
//   padding: 30px 130px;
// }

// .cards {
//   max-width: 1236px;
//   padding: 0 20px;
//   margin: 0 auto;
//   position: relative;
// }
