.footer-top {
  background-color: $color-brand-dark;
  padding: 50px 0;

  @media screen and (max-width: $bp-mobile) {
    padding: 24px 0;
  }

  .footer_about-us {
    padding: 0 38px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    @media screen and (max-width: $bp-mobile) {
      padding: 0 51px;
    }

    .logo {
      a {
        gap: 24px;
        flex-direction: column;
        @media screen and (max-width: $bp-mobile) {
          gap: 4px;
        }

        img {
          width: 104px;
          height: 104px;
          @media screen and (max-width: $bp-tablet) {
            width: 75px;
            height: 75px;
          }
          @media screen and (max-width: $bp-mobile) {
            width: 46px;
            height: 46px;
          }
        }
      }
    }
  }

  .footer_links {
    display: flex;
    gap: 120px;
    align-items: center;
    align-items: flex-start;
    @media screen and (max-width: $bp-tablet) {
      gap: 55px;
      // justify-content: center;
    }
    @media screen and (max-width: $bp-mobile) {
      gap: 80px;
      justify-content: center;
    }

    ul {
      display: flex;
      gap: 32px;
      flex-direction: column;
      @media screen and (max-width: $bp-tablet) {
        gap: 22px;
      }
      @media screen and (max-width: $bp-mobile) {
        gap: 12px;
      }
    }

    span,
    a {
      font-size: 24px;
      line-height: 117%;
      color: $color-text-light;
      @media screen and (max-width: $bp-tablet) {
        font-size: 18px;
        line-height: 133%;
      }
      @media screen and (max-width: $bp-mobile) {
        font-size: 12px;
      }
    }

    span {
      margin-bottom: 32px;
      display: inline-block;
      border-bottom: 2px solid $color-brand;
      padding-right: 12px;

      @media screen and (max-width: $bp-tablet) {
        margin-bottom: 22px;
      }

      @media screen and (max-width: $bp-mobile) {
        margin-bottom: 12px;
      }
    }

    a {
      transition: 0.5s linear;
    }
  }
}

.footer-top > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $bp-mobile) {
    flex-direction: column;
    gap: 24px;
  }
}

.footer-bottom {
  padding: 60px 0 30px;
  @media screen and (max-width: $bp-mobile) {
    padding: 12px 16px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: $color-dark-green;
    @media screen and (max-width: $bp-tablet) {
      font-size: 15px;
      line-height: 160%;
    }
    @media screen and (max-width: $bp-mobile) {
      font-size: 10px;
      line-height: 180%;
    }
  }

  .footer_cards {
    margin: 48px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    @media screen and (max-width: $bp-tablet) {
      margin: 16px 0;
    }

    .trust_cards,
    .bank_cards {
      display: flex;
      gap: 48px;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (max-width: $bp-tablet) {
        gap: 16px;
      }
    }
    .trust_cards {
      img {
        @media screen and (max-width: $bp-tablet) {
          width: 80px;
          height: 90px;
        }
        @media screen and (max-width: $bp-mobile) {
          width: 40px;
          height: 40px;
        }
      }
    }
    .bank_cards {
      img {
        @media screen and (max-width: $bp-tablet) {
          height: 34px;
        }
      }
    }
  }

  .copyright {
    svg {
      @media screen and (max-width: $bp-tablet) {
        width: 16px;
        height: 16px;
      }
      @media screen and (max-width: $bp-mobile) {
        width: 12px;
        height: 12px;
      }
    }
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: $color-dark-green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    @media screen and (max-width: $bp-tablet) {
      font-size: 16px;
      gap: 8px;
    }
    @media screen and (max-width: $bp-mobile) {
      font-size: 10px;
      line-height: 280%;
      gap: 4px;
    }
  }
}

.about-us_contacts {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: $color-text-light;
  display: flex;
  gap: 24px;
  flex-direction: column;
  max-width: 373px;
  margin-left: 22px;
  @media screen and (max-width: $bp-tablet) {
    font-size: 18px;
    gap: 18px;
    margin: 0;
  }
  @media screen and (max-width: $bp-mobile) {
    font-size: 12px;
    gap: 12px;
    align-items: center;
    margin: 0;
  }

  .about-us_contact {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $bp-mobile) {
    }
  }

  a {
    color: $color-text-light;
  }

  span {
    @media screen and (max-width: $bp-mobile) {
      display: block;
      margin: 0 auto;
    }
  }
}

.social-media {
  display: flex;
  gap: 36px;
  justify-content: space-between;
  @media screen and (max-width: $bp-tablet) {
    gap: 34px;

    img {
      width: 36px;
      height: 36px;
    }
  }
  @media screen and (max-width: $bp-mobile) {
    gap: 32px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
