.holidays-bg {
  background-image: url(../../images/holidays-titel.jpeg);
}

.holidays_buttons {
  padding-top: 100px;
  // display: flex;
  gap: 24px;
  // flex-wrap: wrap;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
  width: 100%;
  box-sizing: border-box;

  .holidays_button {
    @extend %secondary-font;
    font-size: 24px;
    line-height: 117%;
    color: $color-brand-dark;
    background-color: transparent;
    padding: 0 26px;
    // border-width: 3px;
    // border-style: solid;
    border-image: linear-gradient(103deg, #ffe401, #007b84) 1% 1%;
    // max-width: 280px;
    cursor: pointer;
    // min-height: 60px;

    text-align: center;

    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 1230px) {
    .holidays_button {
      flex: 1 1 100%; /* Кнопки занимают всю ширину при маленьких разрешениях */
    }
  }
}

.holidays_button:hover {
  background-color: $color-brand;
  border-image: linear-gradient(103deg, #ffe401, #ffe401) 1% 1%;
}

.holidays_buttons_mob {
  position: relative;
  background: linear-gradient(90deg, #ffe401 0%, #007b84 100%);
  border: $color-brand;
  outline: none;
  margin-top: 32px;
  @media screen and (min-width: $bp-tablet) {
    display: none;
  }
  select {
    display: none;
  }
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2226%22%20height%3D%2215%22%20viewBox%3D%220%200%2026%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%201L13.4286%2013L25%201%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20%2F%3E%3C%2Fsvg%3E");
    top: 18px;
    right: 16px;
    @media screen and (max-width: $bp-mobile) {
      top: 14px;
    }
  }

  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    top: 10px;
    transform: rotate(180deg);
    @media screen and (max-width: $bp-mobile) {
      top: 12px;
    }
  }

  /* style the items (options), including the selected item: */
  .select-items div,
  .select-selected {
    color: #ffffff;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;

    p {
      font-size: 18px;
      line-height: 133%;
      text-align: center;

      @media screen and (max-width: $bp-mobile) {
        font-size: 12px;
      }
    }
  }

  /* Style items (options): */
  .select-items {
    position: absolute;
    background: linear-gradient(90deg, #ffe401 0%, #007b84 100%);
    border: $color-brand;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }

  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.cards_holidays {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 26px;
  justify-content: flex-start;
}

.filter-card {
  display: none;
}

.show {
  display: block;
}
