.trust {
  // .trust_background {
  //   background: linear-gradient(
  //       to bottom,
  //       #ffffff 0%,
  //       transparent 45%,
  //       transparent 55%,
  //       #ffffff 100%
  //     ),
  //     linear-gradient(305deg, #ffe401 0%, #007b84 100%);
  //   padding-top: 1px;
  //   // box-shadow: inset 0px 200px 75px -120px rgba(255, 255, 255, 1),
  //   //   inset 0px -200px 72px -60px rgba(255, 255, 255, 1);
  // }

  .trust-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin: 100px 0;
    padding: 119px 93px 81px;
    column-gap: 13px;
    // background-color: ;
    @media screen and (max-width: $bp-tablet) {
      padding: 75px 25px 60px;
      margin: 62px 0;
    }

    @media screen and (max-width: $bp-mobile) {
      margin: 24px 10px;
      padding: 29px 24px 35px;
    }

    .trust-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
      position: relative;
      padding-left: 50px;
      flex-grow: 1;

      @media screen and (max-width: $bp-tablet) {
        padding-left: 0px;
      }

      @media screen and (max-width: $bp-mobile) {
        gap: 12px;
        padding-left: 10px;
      }

      img {
        z-index: 1;
        @media screen and (max-width: $bp-tablet) {
          width: 100px;
          height: 100px;
        }
        @media screen and (max-width: $bp-mobile) {
          width: 40px;
          height: 40px;
        }
      }

      span {
        font-size: 32px;
        line-height: 87%;
        color: $color-dark-green;
        @media screen and (max-width: $bp-mobile) {
          font-size: 12px;
          line-height: 133%;
        }
      }
    }

    .trust-item::before {
      position: absolute;
      // left: -130px;
      // left: -50px;
      top: -12%;
      z-index: 0;
      @extend %primary-font;

      line-height: 6%;
      -webkit-text-stroke: 3px $color-brand-dark;
      // color: rgba(255, 255, 255, 0.6);
      color: rgba(1, 124, 133, 0.3);
      font-size: calc(90px + (450 - 90) * ((100vw - 425px) / (1440 - 425)));

      @media screen and (max-width: 1105px) {
        // font-size: 270px;
        top: 9%;
        left: -5px;
      }
      @media screen and (min-width: $bp-desktop) {
        font-size: 450px;
      }
      @media screen and (max-width: $bp-tablet) {
        top: -3%;
      }
      @media screen and (max-width: $bp-mobile) {
        -webkit-text-stroke: 2px $color-brand-dark;
        left: -12px;
        top: 5%;
        font-size: 90px;
      }
    }

    .trust-item:nth-child(1):before {
      content: "1";
      left: -50px;
      @extend %primary-font;
      line-height: 6%;

      @media screen and (max-width: 1105px) {
        left: -5px;
      }

      @media screen and (max-width: $bp-mobile) {
        left: -12px;
        font-size: 90px;
      }
    }

    .trust-item:nth-child(2):before {
      content: "2";
      left: -85px;
      @media screen and (max-width: 1105px) {
        left: -32px;
      }
      @media screen and (max-width: $bp-mobile) {
        left: -27px;
      }
    }

    .trust-item:nth-child(3):before {
      content: "3";
      // font-size: 380px;
      left: -60px;
      @media screen and (max-width: 1105px) {
        // font-size: 270px;
        left: -27px;
      }
      @media screen and (max-width: $bp-mobile) {
        // font-size: 80px;
        left: -25px;
      }
    }

    .trust-item:last-child::before {
      content: "4";
      // font-size: 380px;
      left: -60px;
      @media screen and (max-width: 1105px) {
        // font-size: 270px;
        left: -23px;
      }
      @media screen and (max-width: $bp-mobile) {
        // font-size: 80px;
      }
    }
  }

  .trust-items::before,
  .trust-items::after {
    content: "";
    position: absolute;
    width: 309px;
    height: 309px;
    border: 3px solid $color-brand;

    @media screen and (max-width: $bp-mobile) {
      width: 80px;
      height: 80px;
      border: 2px solid $color-brand;
    }
  }

  .trust-items::before {
    top: 0;
    right: 0;
    border-width: 3px 3px 0 0;
    @media screen and (max-width: $bp-mobile) {
      border-width: 2px 2px 0 0;
    }
  }

  .trust-items::after {
    bottom: 0;
    left: 0;
    border-width: 0 0 3px 3px;
    @media screen and (max-width: $bp-mobile) {
      border-width: 0 0 2px 2px;
    }
  }
}
